@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --step-0: clamp(1rem, 0.9614rem + 0.1869vi, 1.125rem);

  --space-3xs: clamp(0.25rem, 0.2307rem + 0.0935vi, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4614rem + 0.1869vi, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6922rem + 0.2804vi, 0.9375rem);
  --space-s: clamp(1rem, 0.9229rem + 0.3738vi, 1.25rem);
  --space-s-m: clamp(1rem, 0.788rem + 1.028vi, 1.6875rem);
  --space-s-l: clamp(1rem, 0.6145rem + 1.8692vi, 2.25rem);
  --space-m: clamp(1.5rem, 1.3843rem + 0.5607vi, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.2687rem + 1.1215vi, 2.25rem);
  --space-l: clamp(2rem, 1.8458rem + 0.7477vi, 2.5rem);
  --space-xl: clamp(3rem, 2.7687rem + 1.1215vi, 3.75rem);
  --space-2xl: clamp(4rem, 3.6916rem + 1.4953vi, 5rem);
  --space-3xl: clamp(6rem, 5.5374rem + 2.243vi, 7.5rem);
  --space-4xl: clamp(8rem, 7.3832rem + 2.9907vi, 10rem);
}

body {
  font-size: var(--step-0);
  line-height: 1.5;
  color: #f8fafc;
  background-color: #232323;
  overflow-x: clip !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 300ms !important;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

#container {
  max-width: clamp(16rem, 100%, 87.5rem);
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.balanced {
  text-wrap: balance;
}

.nowrap {
  text-wrap: nowrap;
}

#shadow {
  -webkit-box-shadow: 36px 0px 90px 90px rgba(35, 35, 35, 1);
  -moz-box-shadow: 36px 0px 90px 90px rgba(35, 35, 35, 1);
  box-shadow: 36px 0px 90px 90px rgba(35, 35, 35, 1);
}
