---
import { Code } from 'astro:components';
import Layout from '@/layouts/Layout.astro';
import Button from '@/components/Button.astro';
import coolPanda from '@/constants/Cool-Panda-color-theme.json';
---

<Layout>
  <section
    id="inter"
    class="flex w-full flex-col items-center justify-center max-md:my-3x md:min-h-screen tablet:flex-row tablet:justify-between"
  >
    <div class="max-tablet:mb-huge">
      <h1 id="teko" class="whitespace-nowrap text-headline">
        <span class="group-hover:flashing-text">Cool</span> Panda
      </h1>
      <p class="my-large max-w-[45ch]">
        A VS Code theme inspired by the classic <a
          href="https://github.com/tinkertrain/panda-syntax-vscode"
          class="text-teal underline underline-offset-2">Panda Syntax</a
        >. Cool Panda offers cooler tones and full Typescript support for those
        late night coding sessions.
      </p>
      <Button>Install with VS Code</Button>
    </div>
    <Code
      lang="astro"
      class="px-lh rounded bg-code py-medium text-min shadow max-md:w-full"
      theme={coolPanda}
      code={`
<script>
  import { Houston, hug } from "fake-astro-stuff";

  hug.count = 0;
  const container = document.querySelector("#container");

  container.addEventListener("click", () => {
    hug.count += 1;
  });
</script>

<div class="container">
  {
    hug.count >= 1 ? (
      <Houston happy={true} >
        <p>Ready for liftoff!</p>
      </Houston>
    ) : (
      <Houston happy={false}>
        <p>zzzzzz</p>
      </Houston>
    )
  }
</div>
      `}
    />
  </section>
</Layout>
