---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
  <section
    id="teko"
    class="z-30 flex h-screen w-full items-center justify-center"
  >
    <h1>Cool Panda</h1>
  </section>
</Layout>
