<footer class="text-min fixed bottom-0 w-full py-medium opacity-60">
  <div class="gap-3xs flex flex-row items-center">
    <p>Made with</p>
    <img src="images/heart.svg" alt="love" width={16} height={16} />
    <a href="https://github.com/JusticeMatthew">Matthew Justice</a>
  </div>
</footer>
