<header class="gap-small fixed top-0 flex w-full items-center py-medium">
  <img
    src="images/panda.svg"
    alt="panda icon"
    width={34}
    height={34}
    class="group opacity-75"
  />
  <square class="bg-light h-8 w-[1px] rounded opacity-75"></square>
  <a href="https://github.com/JusticeMatthew/cool-panda">
    <img
      src="images/github.svg"
      alt="panda icon"
      width={32}
      height={32}
      class="opacity-75 transition-all duration-300 hover:opacity-100"
    />
  </a>
  <a
    href="https://marketplace.visualstudio.com/items?itemName=MatthewJustice.cool-panda"
  >
    <img
      src="images/microsoft.svg"
      alt="panda icon"
      width={30}
      height={30}
      class="opacity-75 transition-all duration-300 hover:opacity-100"
    />
  </a>
</header>
