<header class="gap-small tablet:fixed top-0 flex w-full items-center py-medium">
  <a href="https://github.com/JusticeMatthew/cool-panda">
    <img
      src="images/github.svg"
      alt="panda icon"
      width={32}
      height={32}
      class="opacity-75 transition-all duration-300 hover:opacity-100"
    />
  </a>
  <a
    href="https://marketplace.visualstudio.com/items?itemName=MatthewJustice.cool-panda"
  >
    <img
      src="images/microsoft.svg"
      alt="panda icon"
      width={30}
      height={30}
      class="opacity-75 transition-all duration-300 hover:opacity-100"
    />
  </a>
</header>
